@import '../../scss/index';

.add-todo-form {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: 0 0 32px;

	.app-button {
		min-width: 110px;
	}

	&__input {
		height: 100%;
		min-height: 32px;
		border: 1px solid $gray-1;
		border-radius: 12px;
		padding: 16px 12px;
		font-family: $font-montserrat;
		color: $black-1;
		font-weight: 500;
		margin-right: 24px;
		width: 100%;
		transition: all 0.3s;
		outline: none;

		&:focus {
			border: 1px solid $blue-1;
		}
	}
}
